*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to right, #ffd6ff, #bcf8ff );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
.box{
    padding: 30px;
    margin-top:40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 20px rgb(172, 171, 171);
    height: 210px;
    width: 60%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h3,h4{
    margin-top: 50px;
    text-align: center;
}
select:hover , option:hover{
    cursor: pointer;
}
label{
    padding-bottom: 20px;
}
.backward-button{
    background-color: lightblue;
    height: 45px;
    padding: 20px 10px 35px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    transition: 300ms;
}
.backward-button:hover{
    cursor: pointer;
    box-shadow: 6px 6px 30px rgb(173, 173, 173);
    
}